$bg: #2e3440;
$bblack: #4c566a;
$white: #eceff4;
$grey: #3b4252;
$green: #a3be8c;
$red: #bf616a;

.separator {
  font-size: 16px;
  color: $grey;
}

.graph-comp-module {
  margin-top: 2px;
  padding: 7px 0px;

  .graph-comp-graph-container {
    background-color: $grey;
    border-radius: 3px;

    .graph-comp-graph {
      color: $white;
      background-color: $bblack;

      &.danger {
        color: $red;
      }
    }
  }
  
  .graph-comp-icon {
    font-size: 14px;
  }
}

.gauge-comp-module {
  margin-top: 2px;

  .gauge-comp-graph {
    color: $white;
    background-color: $grey;

    &.danger {
      color: $red;
    }
  }

  .gauge-comp-icon {
    color: $white;
    font-size: 10px;
    margin: 7px;
  }
}

.bar {
  .container {
    font-family: M+1Code Nerd Font;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: $bg;
    color: $white;
    border-radius: 6px;

    .left-modules {
      margin-left: 6px;

      .workspaces {
        .ws-btn {
          color: $grey;
          font-size: 18px;
          font-weight: 500;

          &.occupied {
            color: $white;
          }

          &.focused {
            color: $green;
          }
        }
      }
    }

    .center-module {
      font-family: M+1Code Nerd Font Mono;
    }
  }
}
